<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Stuff -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devicewidth, initial-scale=1">
        <meta name="description" content="Francisco Trindade Webiste. Full-Stack Developer, Security Enthusiast.">


        <!-- Titles / Etc -->
        <title><%= site.title %></title>
        <link rel="icon" type="images/png" href="favicon.ico">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/stylesheets/normalize.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <%- style %>

    </head>
    <body>
        <header>
            <%- defineContent('header') %>
        </header>

        <%- body %>

        <footer>
            <%- defineContent('footer') %>
        </footer>

        <%- script %>
    </body>
</html>
